.audience{
    @include breackpoint-down(medium){
        flex-wrap: wrap;
    }
    &__info{
        padding-top: 70px;
        padding-bottom: 60px;
        text-align: center;
        width: 100%;
        
        @include breackpoint-up(large){
            padding: 166px 164px 158px 112px;
            max-width: 50%;
            text-align: left;
            height: 600px;
        }
    }

    &__image{
        background-image: url(../images/mobile/image-stand-out.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 312px;
        
        @include breackpoint-up(large){
            background-image: url(../images/desktop/image-stand-out.jpg);
            width: 50%;
            height: 600px;
        }
    }

    .sec-btn {
        &::before{
            background-color: $SoftRed;
        }
    }    
}